* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.1rem;
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

a:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);

}

.footer {
  padding: 30px 30px 30px 30px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex !important;
  justify-content: space-between;
  /* border-bottom: 1px solid #F0F0F0; */
}

.disclaimer {
  display: block !important;
}

.disclaimer > hr {
    width: 20%;
    margin-left: 40%;
    color: blue;
    background-color: blue;
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, #fff, #ababab, #fff);
}

.main-navigation {
  z-index: 999;
  width: 100%;
  background: white;
  height: 68px;
  padding: 0;
  margin: 0;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-navigation {
  max-width: 445px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation h5 {
  position: absolute;
  left: 90px;
  top: 3px;
  color: #777777;
}

@media all and (max-width: 400px) {
  .main-navigation h5 {
    top: 7px;
    font-size: 12px;
  }
}

.main-navigation-link {
  color: #686868;
  padding: 15px;
  display: -webkit-box;
  text-align: center !important;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  border-left: 1px solid #F0F0F0;
}

.icons a:first-child {
  padding: 4px 4px 4px 0;
}

.icons a {
  padding: 4px;
}

@media all and (max-width: 460px) {
  .main-navigation-link {
    font-size: 13px;
    padding: 15px;
  }
  #about {
    display: none;
  }
  #process-link {
    display: none !important;
  }
}

.logo:hover, .main-navigation-link:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}

.logo {
  width: 74px;
  display: block;
  padding: 5px 0px 0px 5px;
}

.logo-header {
  width: 203px;
}

section {
  padding-top: 70px;
  padding-bottom: 70px;
  border-bottom: 1px solid #F0F0F0;
  padding-left: 30px;
  padding-right: 30px;
}

section:first-of-type {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -23px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1000px;
}

.projects {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer-wrapper {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.process {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-studies {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hi {
  font-size: 42px;
  line-height: 0.4em;
}

.hero-subtitle {
  position: absolute;
  top: 6em;
  left: 2.8em;
  font-size: 28px;
  color: #5A54AF;
  font-weight: 300;
}

.subtitle {
  font-size: 28px;
  color: #5A54AF;
  font-weight: 300;
}

.hero-up {
  width: 100%;
  position: relative;
  /*height: 400px;
  margin: 23px 0px 50px 0px;
  background: url("../img/bg-imgage.jpg") no-repeat center top fixed;
  background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;*/
}

.hero-down {
  width: 100%;
}

.hero-down p {
  /* color: #929292; */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  /* line-height: 25px; */
  line-height: 1.8em;
}

.hero-down em {
  font-style: normal !important;
}

.hero-down p a {
  color: #574cdd;
  text-decoration: underline;
}

.icons {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          /*justify-content: space-between;*/
}

.download-resume {
  /* Rectangle 3: */
  display: inline-block;
  margin-top: 20px;
  background: #5A54AF;
  /* Download Resume: */
  font-family: Roboto;
  font-size: 15px;
  /*padding: 15px 50px;*/
  color: #C3D5FF;
  padding: 18px 0;
  width: 296px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 2px;
}

.title {
  /* My Process: */
  font-family: Roboto;
  font-weight: bold;
  margin: 0;
  font-size: 44px;
  color: #000000;
  letter-spacing: 0;
  line-height: 0.4em;
}

.hero-header {
  position: absolute;
  font-family: initial;
  top: 1em;
  left: 1em;
  font-weight: bold;
  font-size: 72px;
  color: #000000;
  letter-spacing: 8px;
  line-height: 0.4em;
}

.quotes {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote-item {
  max-width: 1000px;
  padding-top: 0px;
}

.quotation{
  font-size: 30px;
 /*/margin: 0 auto;i*/
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  /*height: 0;*/
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  /*height: 0;*/
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
.quotation-footer {
  margin:0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}

.projects-item h3 {
  margin-left: 15px;
}

.projects-item {
  max-width: 1000px;
  padding-top: 20px;
}

.projects-item h3 {
  margin-left: 15px;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-item p {
  /* I collaborate with s: */
  font-size: 1.2rem;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.5em;
}

.projects-item h3 {
  /* Discover: */
  font-size: 28px;
  color: #5A54AF;
  letter-spacing: 0;
}

.projects-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; */
  margin: 30px auto;
  width: 66%;
}

.process-item {
  max-width: 300px;
  padding-top: 20px;
}

.process-item h3 {
  margin-left: 15px;
}

.process-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  margin: 0;
  height: 35px;
}

.item-header>img {
	width: 48px;
}

.process-item p {
  /* I collaborate with s: */
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.process-item h3 {
  /* Discover: */
  font-size: 28px;
  color: #5A54AF;
  letter-spacing: 0;
}

.case-studies-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case-study-item {
  max-width: 300px;
  margin-top: 45px;
}

.case-study-item h4 {
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  line-height: 2.4em;
}

.case-study-item h5 {
  font-size: 13px;
  font-weight: 700;
  color: #5A5A5A;
  margin: 0;
  line-height: 1.3em;
  text-transform: uppercase;
}

.case-study-item p {
  font-size: 16px;
  color: #777777;
  letter-spacing: 0;
  line-height: 1.8em;
}

.case-email {
  background-color: #ffffff;
 /*  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23eff5ff' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23dfecff' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23d0e2ff' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23c0d9ff' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23b0cfff' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1566' height='1566' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23ccdaed' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23ccdaed' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.case-motto-svg {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23b2d1fa' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23888aff' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%239dbaec' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%238178e6' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238ba3dd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%237867ce' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%237c8bce' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%236f56b6' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%237174bc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2365469f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23685caa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235a3688' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.read-more {
  display: inline-block;
  width: 100%;
  border: solid 2px #E1E1E1;
  padding: 18px 0;
  text-align: center;
  color: #574CDD;
  font-weight: 500;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  border-radius: 2px;
}

.results-content {
  max-width: 900px;
  color: black;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.results-content img {
  margin-top: 40px;
  max-width: 70px;
  border-radius: 100%;
}

.results-content h1 {
  font-size: 24px;
  line-height: 1.6em;
  font-weight: 300;
}

.results-content h2 {
  font-size: 25px;
  line-height: 1em;
  font-weight: 300;
  margin: 0;
  margin-top: 0.3em;

}

.results-content h3 {
  margin: 0;
  margin-top: 0.4em;
  padding-bottom: 35px;
}

.results-content hr {
  width: 30px;
  border: 3px solid #5A54AF;
}

.main-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  /*margin-top: 30px;*/
}

.main-case-study figure {
  margin: 2em 60px;
}
.main-case-study img {
  max-width: 100%;
}

.main-case-study .case-init {
  position: relative;
}

.main-case-study .case-init-wrapper {
  margin: 23px 100px 0px 100px;
}

.main-case-study .case-title {
  margin-top: 1em;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.main-case-study .case-init-wrapper .struct {
  position: relative;
  top: 2em;
  color: #5A54AF;
}

.main-case-study .case-summary {
  font-weight: 300;
  color: #000000;
  line-height: 39px;
}

.main-case-study .case-motto {
  color: black; 
  font-family: merriweather; 
  font-size: 26px; 
  line-height: 1.7em; 
  margin-top: 20px;
}

.main-case-study .title {
  line-height: 1em;
  margin-top: 20px;
}

.main-case-study .subtitle {
  /* Mobile App Design: */
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
  color: #5A54AF;
  letter-spacing: 0;
}

.main-case-study .summary {
  /* The objective of thi: */
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  letter-spacing: 0;
  line-height: 39px;
}

.main-case-image .figure-caption {
  margin: 0.5rem auto 0;
  max-width: 50rem;
}

.main-case-image .figure-text {
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.5;
}

.case-study-item img {
  max-width: 100%;
}

.case-details {
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 700px;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.case-links {
  margin-top: 26px;
  padding-bottom: 30px;
}

.link-div {
  display: inline-block;
  padding: 15px 15px 15px 0;
}

.case-links img {
  position: relative;
  top: 2.9px;
  padding-right: 8px;
}

.case-detail-link {
  padding: 15px 30px;
  /* border: 1px solid #fafafa; */
  color: #593eda;
  border-radius: 2px;
  background: #f1f1f1;
  margin-right: 1em;
}

@media all and (max-width: 981px) {
  .hero-up {
    margin: 0 auto;
    text-align: center;
  }
  .hero-up .icons {
    margin: 0 auto;
    justify-content: center;
  }
}

@media all and (max-width: 842px) {
  .link-div {
    display: block;
  }
  .case-detail-link {
      display: block;
      width: 100%;
      padding:25px;
      text-align: center;
  }
}

.content-case-study {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.content-case-study p {
  /* Each member of our t: */
  font-family: Roboto;
  color: #676767;
  letter-spacing: 0;
  line-height: 30px;
}

.content-case-study img {
  max-width: 100%;
  margin-top: 20px;
}

.content-case-study a {
  color: #574cdd;
  text-decoration: underline;
}

.content-case-study h1 {
  margin: 0;
  margin-top: 2.4em;
}

 .content-case-study blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

 .content-case-study blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

 .content-case-study blockquote p {
  display: inline;
}

/* Order list style */
ol.ol-list {
  counter-reset: my-ol-counter;
  margin-left:1.4em;
}

ol.ol-list li {
  position: relative;
  padding-left: 30px;
  list-style: none;
}

ol.ol-list li:before {
  position: absolute;
  top:50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  color: #fff;
  text-align:center;
  background-color: #0274be;
  content: counter(my-ol-counter,decimal);
  counter-increment: my-ol-counter;
  font-size: 11px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
 
/* Unordered list style */
.case-init-wrapper ul {
  line-height: 1.7rem;
}

.case-init-wrapper ul li {
  position: relative;
  padding-left: 30px;
  list-style: none;
  color: #676767;
}

.case-init-wrapper ul li:after{
  position: absolute;
  top: -webkit-calc( 50% - -1px);
  top: calc( 50% - -1px);
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -13px;
  padding-top: 2px;
  color: #fff;
  text-align:center;
  background-color: #574cdd;;
  content: ">";
  font-size: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 1.1rem;
}

.case-inspire-wrapper .case-inspiring-words {
  margin: 50px 10px;
  text-align: center;
  position: relative;
}

.case-inspire-wrapper h1 {
  color: #000;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

.case-inspiring-words em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}

.case-inspiring-words em::before, .case-inspiring-words em::after {
  content: "ยง";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
	opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
}

.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}

@media all and (max-width: 513px) {
  .case-details {
    justify-content: flex-start;
  }
  .download-resume {
    display: block;
    width: 100%;
  }
  .case-details-item {
    padding-right: 25px !important;
  }
}

.case-details-item {
  padding-right: 20px;
}

.case-details-item strong {
  font-weight: bold;
}

.case-details-item p {
  line-height: 1.8em;
  font-size: 16px;
}

@media all and (max-width:1040px) {
  .case-study-item {
    max-width: 48%;
    margin-top: 40px;
  }
  .case-studies-wrapper {
    margin-top: 0;
  }
}

@media all and (max-width:980px) {
  .hero-down {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .process-item {
    max-width: 45%;
  }
}

@media all and (max-width: 728px) {
  .case-study-item {
    max-width: 100%;
    margin-top: 40px;
  }
  .case-study-item:first-of-type {
    margin-top: 13px;
  }
  .hi, .title {
    font-size: 40px;
  }
  .process-item h3 {
    font-size: 24px;
  }
  .hero-header {
  font-size: 40px;
  padding: 100px 0px 0px 30px;
 }
  .hero-subtitle {
    font-size: 24px;
    padding: 20px 0px 0px 30px;
  }
  .subtitle {
    font-size: 24px;
  }
  section {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  #scroll-element {
    padding-top: 100px !important;
  }
}

@media all and (max-width:500px) {
  .process-item {
    max-width: 100%;
  }
}
/*
.active {
  color: #574CDD;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #574CDD;
}*/
