<section>
    <div class="main-case-study" data-scroll-index="0"> 
        <div class="main-case-init" >
            <img src="img/{{ .Params.case_feature_img }}" alt="" style="width:100%;margin:23px 0px 50px 0px;">
            <div class="main-case-init-wrapper">
                <h1 class="hero-header">{{ .Params.case_title }}</h1>
                <h2 class="hero-subtitle">{{ .Params.case_subtitle }}</h2>
            </div>
        </div>

            <p class="summary">{{ .Params.case_summary }}</p>
            <h1 style="color: black; font-family: merriweather; font-size: 26px; line-height: 1.7em; margin-top: 20px;">{{ .Description }}</h1>
        <div class="case-links">
            {{ $baseUrl := .Site.BaseURL }}
            {{ range $element := .Params.button_links }}
            <div class="link-div">
                <a href="{{ $element.link }}" target="blank" class="case-detail-link">
                    {{ if eq $element.img "download.svg" }}
                    <img style="top:1.8px;" src="{{ $baseUrl }}svg/{{ $element.img }}">
                    {{ else }}
                    <img src="{{ $baseUrl }}svg/{{ $element.img }}">
                    {{ end }}
                    {{ $element.text }}
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>