<section data-scroll-index="3">
    <div class="case-studies">
        <div class="header">
            <h1 class="title">{{ .Site.Params.case_studies.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.case_studies.Subtitle }}</h2>
        </div>
        <div class="case-studies-wrapper">
            {{ $baseUrl := .Site.BaseURL }}
            {{ range where .Site.Pages "Kind" "page" }}

            <div class="case-study-item">

                {{ if isset .Params "case_filler" }}
                    <img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt="">
                {{ else }}
                    {{ if isset .Params "case_description_addon" }}
                        <img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt="">
                    {{ else}}
                        <a href="{{ .Permalink }}"><img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt=""></a>
                    {{ end}}

                    <h4>{{ .Params.case_short_title }}</h4>
                    <h5>{{ .Params.case_subtitle }}</h5>
                    <p>{{ .Params.case_description }}</p>

                    {{ if isset .Params "case_description_addon" }}
                        <h2>{{ .Params.case_description_time }} | {{ .Params.services_paypal_price }} €</h2>
                        <p>{{ .Params.case_description_addon }}</p>
                        <div id="{{ .Params.services_paypal }}"></div>
                        <script>
                            // Render the PayPal button into #paypal-button-container
                            paypal.Buttons({
                                style: {
                                    color:  'silver',
                                    shape:  'rect',
                                    label:  'paypal',
                                    size:   'responsive'
                                },
                            // Set up the transaction
                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: '{{ .Params.services_paypal_price }}'
                                        }
                                    }]
                                });
                            },
                            // Finalize the transaction
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(details) {
                                    // Show a success message to the buyer
                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                });
                            }
                        }).render('#{{ .Params.services_paypal}}');
                        </script>
                    {{ else }}
                        <a href="{{ .Permalink }}" class="read-more">Read Me</a>
                    {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
