<section>
    <div class="main-case-study" data-scroll-index="0"> 
        <div class="case-init" >
            <div class="case-init-wrapper">
                <h5 class="struct">{{ .Params.case_struct }}</h5>
                <h1 class="case-title">{{ .Params.case_title }}</h1>
                <h2 class="case-summary">{{ .Params.case_summary }}</h2>
            </div>
            <div>
                <figure class="main-case-image">
                    <img src="img/{{ .Params.case_feature_img }}" alt="" >
                <figcaption class="figure-caption">
                    <span class="figure-text">{{ .Params.case_feature_img_description }}</span>
                </figcaption>
                </figure>
            </div>
            <div class="case-init-wrapper">
                    <h1 class="case-motto">{{ .Params.case_motto }}</h1>
            </div>
            <div class="content-case-study">
                <div class="case-init-wrapper">
                    {{ .Content }}
                </div>
            </div>
            </div>
        </div>

        <!-- <div class="case-links">
            {{ $baseUrl := .Site.BaseURL }}
            {{ range $element := .Params.button_links }}
            <div class="link-div">
                <a href="{{ $element.link }}" target="blank" class="case-detail-link">
                    {{ if eq $element.img "download.svg" }}
                    <img style="top:1.8px;" src="{{ $baseUrl }}svg/{{ $element.img }}">
                    {{ else }}
                    <img src="{{ $baseUrl }}svg/{{ $element.img }}">
                    {{ end }}
                    {{ $element.text }}
                </a>
            </div>
            {{ end }}
        </div>-->
    </div>
</section>