<section id="scroll-element" data-scroll-index="4">
    <div class="hero">
        <div class="header">
            <!--<h1 class="hero-header">{{ .Site.Title }}</h1> <span><img class="logo-header" src="{{ .Site.BaseURL }}img/logo-herz.png" alt="{{ .Site.Title }}"></span>-->
			<h1 class="title">{{ .Site.Params.Events.Title }}</h1> 
			<h2 class="subtitle">{{ .Site.Params.Events.Subtitle }}</h2>
            <img src="../img/flyer-female-group.png" alt="Workshop for
			celebrating femalehood" style="width:80%;display:block;margin:auto;">
        </div>
        <!--<div class="hero-down">
            <div class="projects-item">
                 <figure class="item-header">
                    <img src="svg/sun.svg">
                    <h3>About me</h3>
                </figure>
                <p>{{ .Site.Params.Hero.hero_right }}</p>
            </div>
		</div>-->
    </div>
</section>
