<section>
    <div class="quotes">
        <div class="owl-carousel">
            <div><p class="quotation">The doctor of the future will give us no medicine, but will interest his patients in the care of the human frame, in diet and in the cause and prevention of disease.</p><div class="quotation-footer"> — Thomas Edison</div></div>
            <div><p class="quotation">Let food be thy medicine and medicine be thy food.</p><div class="quotation-footer"> - Hippocrates </div></div>
            <div><p class="quotation">Our bodies are our gardens our wills are our gardeners.</p><div class="quotation-footer">- William Shakespeare</div></div>
            <div><p class="quotation">If we could give every individual the right amount of nourishment and exercise, not too little and not too much, we would have the safest way to health.</p><div class="quotation-footer">- Hippocrates</div></div>
            <div><p class="quotation">Nutrition is the only remedy that can bring full recovery and can be used with any treatment. Remember, food is our best medicine!</p><div class="quotation-footer">- Bernard Jensen</div></div>
            <div><p class="quotation">Life is a tragedy of nutrition.</p><div class="quotation-footer">- Arnold Ehret</div></div>
            <div><p class="quotation">Your body is a temple, but only if you treat it as one.</p><div class="quotation-footer">- Astrid Alauda</div></div>
            <div><p class="quotation">Thou shouldst eat to live; not live to eat.</p><div class="quotation-footer">- Socrates</div></div>
        </div>
    </div>
</section>